:host {
    height: 100%;
}

.toolbar {
    .logo {
        width: 64px;
    }
    button {
        margin-bottom: 1rem;
    }
    .is-active {
        color: var(--accent)
    }
}

.topbar {
    .title-heading {
        padding-left: 1rem;
    }
    .account {
        .photo {
            border-radius: 18px;
            width: 36px;
            margin-right: 1rem;
        }
    }
}

.content{
    overflow-y: auto;
    height: 100%;
}