<div class="flex horiz h100 stretch">
  <div class="toolbar flex vert  center bg-primary text-white">
    <img class="padded logo" src="assets/logo.png" alt="">
    <button [routerLinkActive]="'is-active'" [routerLink]="'projects'" matTooltip="Проекти" class="padded" mat-icon-button>
      <mat-icon>dashboard</mat-icon>
    </button>
    <button *ngIf="emplVisible" [routerLinkActive]="'is-active'" [routerLink]="'employees'" matTooltip="Працівники" class="padded" mat-icon-button>
      <mat-icon>people</mat-icon>
    </button>
    <button [routerLinkActive]="'is-active'" [routerLink]="'tasks'" matTooltip="Завдання" class="padded" mat-icon-button>
      <mat-icon>playlist_add_check</mat-icon>
    </button>
    <button *ngIf="customersVisible" [routerLinkActive]="'is-active'" [routerLink]="'customers'" matTooltip="Замовники" class="padded" mat-icon-button>
      <mat-icon>portrait</mat-icon>
    </button>
    <button *ngIf="contractsVisible" [routerLinkActive]="'is-active'" [routerLink]="'contracts'" matTooltip="Контракти" class="padded" mat-icon-button>
        <mat-icon>business_center</mat-icon>
      </button>
    <div class="grow"></div>
    <button class="padded" [matMenuTriggerFor]="moreMenu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #moreMenu="matMenu">
      <button mat-menu-item [routerLink]="'account'">Мій аккаунт</button>
      <button mat-menu-item (click)="logout()">Вийти</button>
    </mat-menu>

    <button [routerLinkActive]="'is-active'"  [routerLink]="'help'" matTooltip="Довідка" class="padded" mat-icon-button>
      <mat-icon>help</mat-icon>
    </button>
  </div>
  <div class="flex grow vert bg-white">

    <div class="topbar w100 flex horiz center just-end">
      <h3 class="title-heading">{{title}}</h3>
      <div class="grow"></div>
      <div *ngIf="user" class="account flex horiz center">
        <span [routerLink]="'account'" class="padded">{{user.Name}}</span>
        <img class="photo" [src]="user.Photo?user.Photo:'assets/account.png'" alt="">
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>