.container { 
    width: 400px;
    margin: 0 auto 0 4rem;
    mat-input-container {
        min-width: 400px;
    }
    
    .change-pass{
        margin: 1rem 0;
        mat-input-container {
            min-width: 200px;
        }
    }

    .save-btn {
        margin-right: 1rem;
    }
    .right{
        margin-right: 1rem;
    }
    .skill-select{
        min-width: 5rem;
    }
}