<mat-tab-group>
  <mat-tab label="Персональна інформація">
    <div class="container wrapper padded flex vert start">
      <mat-input-container class="flex-grow ">
        <input matInput type="text" placeholder="Ім'я" [(ngModel)]="currentUser.Name">
      </mat-input-container>

      <mat-input-container class="flex-grow ">
        <input matInput type="email" placeholder="Пошта" [(ngModel)]="currentUser.Email">
      </mat-input-container>

      <mat-input-container class="flex-grow ">
        <input matInput type="url" placeholder="Фото" [(ngModel)]="currentUser.Photo">
      </mat-input-container>

      <span class="text-primary pointer" (click)="changePassVisible=!changePassVisible">Змінити парооль</span>
      <div *ngIf="changePassVisible" class="change-pass flex horiz center">
        <mat-input-container class="flex-grow ">
          <input matInput type="password" placeholder="Пароль" [(ngModel)]="newPassword">
        </mat-input-container>
        <button (click)="changePass()" mat-button color="primary">{{newPassBtn}}</button>
      </div>
      <div class="padded w100 flex horiz just-end">
        <button class="save-btn padded" (click)="submit()" mat-raised-button color="primary">{{saveAccountBtn}}</button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Мої скіли">
    <div class="container wrapper flex vert">
      <h3>Мої скіли</h3>
      <div class="flex vert padded">
        <div class="flex vert" *ngFor="let ms of mySkills">
          <div class="flex horiz center">
            <b class="padded">{{ms?.Skill_Title}}</b>
            <p class="padded">{{ms?.Level_Title}}</p>
            <div class="grow"></div>
            <button class="padded save-btn padded text-lightgrey" (click)="removeMySkill(ms)" mat-icon-button matToolbar="Delete thos skill">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div class="hr"></div>
        </div>
      </div>
      <p>Add a skill</p>
      <div class="flex horiz just center w100">
        <mat-select class="right grow" [(ngModel)]="newSkillId" placeholder="Навичка">
          <mat-option *ngFor="let s of skills" [value]="s.Skill_Id">
            {{ s?.Title }}
          </mat-option>
        </mat-select>
        <mat-select [(ngModel)]="newLevelId" placeholder="Проф. рівень">
          <mat-option *ngFor="let l of levels" [value]="l.Level_Id">
            {{ l?.Title }}
          </mat-option>
        </mat-select>
        <div class="padded w100 flex horiz margin">
          <button *ngIf="newSkillId && newLevelId" class="save-btn padded" (click)="addSkill(newSkillId, newLevelId)" mat-raised-button
            color="primary">ДОДАТИ</button>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>