<mat-table #table [dataSource]="dataSource">
  
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef>Ім'я </mat-header-cell>
      <mat-cell *matCellDef="let cus"> {{cus.Name}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef> Пошта </mat-header-cell>
      <mat-cell *matCellDef="let cus"> {{cus.Email}} </mat-cell>
    </ng-container>
  
  
    <ng-container matColumnDef="Phone">
      <mat-header-cell *matHeaderCellDef> Номер телефона </mat-header-cell>
      <mat-cell *matCellDef="let cus"> {{cus.Phone}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Дії </mat-header-cell>
      <mat-cell *matCellDef="let cus">
  
        <button class="padded table-actions" [matMenuTriggerFor]="actionsMenu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #actionsMenu="matMenu">
          <button mat-menu-item (click)="edit(cus)">
            <mat-icon>edit</mat-icon>
            <span>Редагувати</span>
          </button>
          <button mat-menu-item (click)="deleteCustomer(cus)">
            <mat-icon>delete</mat-icon>
            <span>Видалити аккаунт</span>
          </button>
        </mat-menu>
  
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator #paginator [pageSize]="30" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="false">
  </mat-paginator>
  
  
  <button mat-icon-button class="fab-add" (click)="addCustomer()">
    <mat-icon>add</mat-icon>
  </button>