:host {
    height: 100%;
}

.projects {
    height: 100%;
    background: #eee;
    .fab-add {
        position: fixed;
        right: 2rem;
        bottom: 2rem;
    }
    .toolbar {
        background: #fff;
    }
    .container {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        padding: .25rem;
        .cell {
            flex: 0 0 20%;
            display: flex;
            justify-content: center;
            align-items: stretch;
            padding: .5rem;
            box-sizing: border-box;
            &:before {
                content: '';
                display: table;
                padding-top: 100%;
            }
            .project {
                padding: 1rem;
                padding-top: 2rem;
                width: 100%;
                background: #fff;
                box-shadow: 0px 0px 20px 0px rgba(173, 173, 173, 1);
                border-radius: 1rem;
                .indicator {
                    border-radius: .5rem;
                    width: 3rem;
                    height: 1rem;
                    background: #222;
                    margin-right: .5rem;
                    &.Yellow {
                        background: #FFEA00;
                    }
                    &.Green {
                        background: #76FF03;
                    }
                    &.Red {
                        background: #FF3D00;
                    }
                }
            }
        }
    }
}