<div class="wrapper projects  flex vert w100">
  <div class="toolbar flex horiz center bg-primary text-white">
    
  </div>
  <div class="container padded start">
    <div class="cell" *ngFor="let p of projects">
      <div [routerLink]="[p.Project_Id]" class="project pointer padded flex vert">
        <b>{{p.Title}}</b>
        <p>{{p.Description}}</p>
        <div class="flex horiz center">
          <div class="indicator {{getProjectStatus(p)}}">
          </div>
          <!-- <span>{{getProjectStatus(p)}}</span> -->
        </div>
      </div>
    </div>

    <button mat-icon-button  class="fab-add" (click)="addProject()"><mat-icon>add</mat-icon></button>
  </div>
</div>