<div class="wrapper padded">
  <h1>Інструкція користувача</h1>
  <h3>Особистий кабінет</h3>

  <h3>Головна сторінка</h3>
  <p>
    <img src="assets/screen/Proj0.png" alt="">
  </p>

    <p>Тут користувач може редагувати особисті дані та поміняти пароль</p>
    <img src="assets/screen/Account.png" alt="">


  <h3>Робота з завданнями</h3>
  <p>Перед тим як створювати завдання потрібно обрати проект до якого воно буде відноситись</p>

  <p>
    <img src="assets/screen/Task1.png" alt="">
  </p>

  <h3>Редагування проекту</h3>
  <p>Тут користувач може редагувати деталі проекту (час початку завкінчення і тд.)</p>

  <p>
    <img src="assets/screen/Proj2.png" alt="">
  </p>
</div>