<mat-tab-group *ngIf="project">
  <mat-tab label="Інформація">
    <div class="container  wrapper padded flex vert start">
      <mat-input-container>
        <input matInput type="text" placeholder="Title" [(ngModel)]="project.Title">
      </mat-input-container>

      <mat-input-container>
        <textarea matInput type="text" placeholder="Description" [(ngModel)]="project.Description"></textarea>
      </mat-input-container>

      <div class="flex between horiz">
        <input [value]="project.Start_Date" (dateChange)="onStartChanged($event)" matInput [matDatepicker]="pickerStart" placeholder="Start date">
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart startView="month" [startAt]="startDate"></mat-datepicker>
        <input [value]="project.End_Date" (dateChange)="onEndChanged($event)" matInput [matDatepicker]="pickerEnd" placeholder="End date">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd startView="month" [startAt]="endDate"></mat-datepicker>
      </div>
      <div class="padded w100 flex horiz just-end">
        <button class="save-btn padded" (click)="save()" mat-raised-button color="primary">{{saveBtn}}</button>
      </div>
      <div class="padded">
      </div>
      <small class="text-lightgrey cursor" (click)="delete()">Delete this project</small>
    </div>
  </mat-tab>
  <mat-tab label="Планування">
    <div class="container wrapper flex vert">
      <div class="flex vert padded">
        <h3>Потрібні скіли</h3>
        <div class="flex horiz just center w100">
          <mat-select class="right grow" [(ngModel)]="newSkillId" placeholder="Skill">
            <mat-option *ngFor="let s of allSkills" [value]="s.Skill_Id">
              {{ s?.Title }}
            </mat-option>
          </mat-select>

          <div class="flex horiz">
            <input [value]="newSkillStart" (dateChange)="onNewSkillStartChanged($event)" matInput [matDatepicker]="skillPickerStart"
              placeholder="Start date">
            <mat-datepicker-toggle matSuffix [for]="skillPickerStart"></mat-datepicker-toggle>
            <mat-datepicker #skillPickerStart startView="month"></mat-datepicker>

            <input [value]="newSkillEnd" (dateChange)="onNewSkillEndChanged($event)" matInput [matDatepicker]="skillPickerEnd" placeholder="End date">
            <mat-datepicker-toggle matSuffix [for]="skillPickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #skillPickerEnd startView="month" [startAt]="newSkillStart"></mat-datepicker>
          </div>
          <button class="save-btn padded" (click)="addRequiredSkill()" mat-raised-button color="primary">ADD</button>
        </div>

        <h3>Всі потрібні скіли</h3>

        <div class="flex vert" *ngFor="let rs of requiredSkills">
          <div class="flex horiz center">
            <p class="padded">{{rs?.Skill_Title}}</p>
            <div class="flex horiz between">
              <input [value]="rs?.Date_Start" (dateChange)="onNewSkillStartChangedItem(rs,$event)" matInput [matDatepicker]="skillPickerStartItem"
                placeholder="Start date">
              <mat-datepicker-toggle matSuffix [for]="skillPickerStartItem"></mat-datepicker-toggle>
              <mat-datepicker #skillPickerStartItem startView="month"></mat-datepicker>

              <input [value]="rs?.Date_End" (dateChange)="onNewSkillEndChangedItem(rs,$event)" matInput [matDatepicker]="skillPickerEndItem"
                placeholder="End date">
              <mat-datepicker-toggle matSuffix [for]="skillPickerEndItem"></mat-datepicker-toggle>
              <mat-datepicker #skillPickerEndItem startView="month"></mat-datepicker>
            </div>

            <div class="grow"></div>
            <button class="padded save-btn padded text-lightgrey" (click)="removeRequiredSkill(rs)" mat-icon-button>
              <mat-icon class="text-lightgrey">delete</mat-icon>
            </button>
          </div>
          <div class="hr"></div>
        </div>
        <div *ngIf="!requiredSkills.length">
          Список порожній...
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Команда" *ngIf="team">
    <div class="container wrapper team flex vert">

      <div class="flex vert">
        <mat-input-container>
          <input matInput type="text" placeholder="Назва команди" [(ngModel)]="team.Title">
        </mat-input-container>
      </div>
      <mat-select [(ngModel)]="team.Office_Id" placeholder="Офіс">
        <mat-option *ngFor="let o of offices" [value]="o.Office_Id">
          {{ o?.Title }} <small>({{o?.Address}})</small>
        </mat-option>
      </mat-select>



      <h3>Додати учасника</h3>
      <div class="flex horiz padded">
        <mat-select class="right" [(ngModel)]="employeeId" placeholder="Працівники">
          <mat-option *ngFor="let e of availableEmployees" [value]="e.Employee_Id">
            {{ e?.Name }}
          </mat-option>
        </mat-select>
        <button class="save-btn padded" (click)="addTeamMember(employeeId)" mat-raised-button color="primary">ADD</button>
      </div>

      <h3>Команда</h3>
      <div class="flex vert padded">
        <div class="team-member vert" *ngFor="let m of teamMembers">
          <div class="body flex horiz center">
            <img class="photo" [src]="m.Photo?m.Photo:'assets/account.png'" />
            <span>{{m.Name}}</span>
            <div class="grow"></div>
            <button class="padded save-btn pad" (click)="removeTeamMember(m.Employee_Id)" mat-icon-button>
              <mat-icon class="text-lightgrey">delete</mat-icon>
            </button>
          </div>
          <hr>
        </div>
      </div>
      <button class="padded" (click)="saveTeam()" mat-button color="primary">ЗБЕРЕГТИ</button>

    </div>
  </mat-tab>
</mat-tab-group>