:host {
    height: 100%;
}

.container {
    width: 600px;
    margin: 0 auto 0 4rem;
    mat-input-container {
        min-width: 400px;
    }
    .change-pass {
        margin: 1rem 0;
        mat-input-container {
            min-width: 200px;
        }
    }
    .save-btn {
        margin-right: 1rem;
    }
    .right {
        margin-right: 1rem;
    }
    .skill-select {
        min-width: 5rem;
    }
}

.team-member {
    .photo {
        border-radius: 18px;
        width: 36px;
        height: 36px;
        margin-right: 1rem;
    }
}