<div class="container wrapper padded flex vert start">
  <mat-input-container>
    <input matInput type="text" placeholder="Ім'я" [(ngModel)]="employee.Name">
  </mat-input-container>

  <mat-input-container>
    <input matInput type="email" placeholder="ошта" [(ngModel)]="employee.Email">
  </mat-input-container>

  <mat-input-container>
    <input matInput type="url" placeholder="Фото" [(ngModel)]="employee.Photo">
  </mat-input-container>

  <mat-checkbox [value]="employee.Access_Level==1" (change)="onAccessChange($event)">Доступ керівника</mat-checkbox>


  <div class="padded w100 flex horiz just-end">
    <button class="save-btn padded" (click)="close()" mat-raised-button color="primary">ОК</button>
  </div>

</div>