:host{
height: 100%;
}

.container{
    width:500px;
    mat-input-container{
    width:500px;
        
    }
}

.fab-add{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}


.marg-top{
    margin-top: 2rem;
}