<div class="flex horiz">
  <div class="flex vert all-contracts grow">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="Title">
        <mat-header-cell *matHeaderCellDef>Проект</mat-header-cell>
        <mat-cell *matCellDef="let con"> {{projects[con.Project_Id]}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Budget">
        <mat-header-cell *matHeaderCellDef>Бюджет</mat-header-cell>
        <mat-cell *matCellDef="let con"> {{con.Budget}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Document_Link">
        <mat-header-cell *matHeaderCellDef>Посилання</mat-header-cell>
        <mat-cell *matCellDef="let con"> {{con?.Document_Link}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Дії </mat-header-cell>
        <mat-cell *matCellDef="let con">

          <button class="padded table-actions" [matMenuTriggerFor]="actionsMenu" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #actionsMenu="matMenu">
            <button mat-menu-item (click)="edit(con)">
              <mat-icon>edit</mat-icon>
              <span>Редагувати</span>
            </button>
            <button mat-menu-item (click)="delete(con)">
              <mat-icon>delete</mat-icon>
              <span>Видалити</span>
            </button>
          </mat-menu>

        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="30" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="false">
    </mat-paginator>
    <button mat-icon-button class="fab-add" (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div *ngIf="contractOpen" class="flex vert selected-contract">
    <div class="container wrapper padded flex vert start">

      <mat-select class="right grow marg-top" [(ngModel)]="contract.Project_Id" placeholder="Проект">
        <mat-option *ngFor="let p of projectsArr" [value]="p?.Project_Id">
          {{ p?.Title }}
        </mat-option>
      </mat-select>

      <mat-select class="right grow marg-top" [(ngModel)]="contract.Customer_Id" placeholder="Замовник">
        <mat-option *ngFor="let p of customersArr" [value]="p?.Customer_Id">
          {{ p?.Name }}
        </mat-option>
      </mat-select>

      <mat-input-container>
        <input matInput type="number" placeholder="Бюджет" [(ngModel)]="contract.Budget">
      </mat-input-container>

      <mat-input-container>
        <input matInput type="text" placeholder="Посилання на документ" [(ngModel)]="contract.Document_Link">
      </mat-input-container>

      <div class="padded w100 flex horiz just-start">
        <button class="save-btn padded" (click)="save()" mat-raised-button color="primary">ЗБЕРЕГТИ</button>
      </div>
    </div>
  </div>
</div>