:host {
    height: 100%;
}

.container {
    mat-input-container {
        width: 500px;
    }
}

.single-task {
    max-width: 500px;
    background: #eee;
    border-radius: 1rem;
}

.fab-add {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.marg-top {
    margin-top: 2rem;
}

.marg-right {
    margin-right: 2rem;
}

.project-select {
    position: absolute;
    top: 1rem;
    left: 16rem;
    width: 300px;
    padding: .5rem;
    border-radius: .5rem;
    background: rgb(244, 244, 255);
}

.status {
    border-radius: .5rem;
    padding: 4px;
    background: #222;
    margin-right: .5rem;
    
    &.InProgress {
        background: rgb(0, 90, 173);
    }
    &.Complete {
        background: rgb(0, 110, 33);
    }
    &.NotStarted {
        background: rgb(54, 103, 116);
    }
}