<mat-tab-group *ngIf="projectId">
  <mat-tab label="Завдання">
    <div class="container wrapper padded flex stretch horiz start">
      <div class="task-list grow">
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="Title">
            <mat-header-cell *matHeaderCellDef>Назва</mat-header-cell>
            <mat-cell *matCellDef="let task">
              <b>{{task.Title}}</b>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Start_Date">
            <mat-header-cell *matHeaderCellDef>Початок</mat-header-cell>
            <mat-cell *matCellDef="let task"> {{task.Start_Date | date : 'short'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="End_Date">
            <mat-header-cell *matHeaderCellDef>Кінець</mat-header-cell>
            <mat-cell *matCellDef="let task"> {{task.End_Date | date : 'short'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef>Стан</mat-header-cell>
            <mat-cell *matCellDef="let task">
              <div class="status text-white {{getTaskStatus(task.Status)}}">
                <b>{{getTaskStatus(task.Status)}}</b>
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Employee_Id">
            <mat-header-cell *matHeaderCellDef>Виконавць</mat-header-cell>
            <mat-cell *matCellDef="let task"> {{employees[task.Employee_Id].Name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Дії </mat-header-cell>
            <mat-cell *matCellDef="let task">

              <button class="padded table-actions" [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #actionsMenu="matMenu">
                <button mat-menu-item (click)="edit(task)">
                  <mat-icon>edit</mat-icon>
                  <span>Редагувати</span>
                </button>
                <button mat-menu-item (click)="delete(task)">
                  <mat-icon>delete</mat-icon>
                  <span>Видалити</span>
                </button>
              </mat-menu>

            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="30" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="false">
        </mat-paginator>
      </div>
      <div *ngIf="taskOpen" class="single-task padded h100">

        <mat-input-container>
          <input matInput type="text" placeholder="Title" [(ngModel)]="task.Title">
        </mat-input-container>

        <mat-input-container>
          <input matInput type="text" placeholder="Description" [(ngModel)]="task.Description">
        </mat-input-container>

        <div class="flex between horiz marg-top">
          <input [value]="task.Start_Date" (dateChange)="onTaskStartChanged($event)" matInput [matDatepicker]="pickerStart" placeholder="Start date">
          <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerStart startView="month" [startAt]="startDate"></mat-datepicker>

          <input [value]="task.End_Date" (dateChange)="onTaskEndChanged($event)" matInput [matDatepicker]="pickerEnd" placeholder="End date">
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd startView="month" [startAt]="endDate"></mat-datepicker>
        </div>

        <mat-select class="right grow marg-top" [(ngModel)]="task.Employee_Id" placeholder="Призначено на...">
          <mat-option *ngFor="let t of employeesArr" [value]="t?.Employee_Id">
            {{ t?.Name }}
          </mat-option>
        </mat-select>

        <mat-select class="right grow marg-top" [(ngModel)]="task.Status" placeholder="Статус">
          <mat-option *ngFor="let s of statuses" [value]="s.val">
            {{ s.title }}
          </mat-option>
        </mat-select>

        <div class="padded w100 flex horiz just-end">
          <button class="save-btn padded marg-right" (click)="close()" mat-button color="primary">ЗАКРИТИ</button>
          <button class="save-btn padded marg-right" (click)="saveTask()" mat-raised-button color="primary">ЗБЕРЕГТИ</button>
        </div>
      </div>
    </div>

    <button mat-icon-button class="fab-add" (click)="openTask()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-tab>

  <!-- Empl -->
 
  <!-- End -->

  <!-- Load Cal -->
  <mat-tab label="">
    <div class="container wrapper padded flex stretch horiz start">
      <div class="task-list grow">
        <mat-table #tableCal [dataSource]="calDataSource">

          <ng-container matColumnDef="Start_Date">
            <mat-header-cell *matHeaderCellDef>Початок</mat-header-cell>
            <mat-cell *matCellDef="let cal"> {{cal.Date_Start | date : 'short'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="End_Date">
            <mat-header-cell *matHeaderCellDef>Кінець</mat-header-cell>
            <mat-cell *matCellDef="let cal"> {{cal.Date_End | date : 'short'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Employee_Id">
            <mat-header-cell *matHeaderCellDef>Виконавць</mat-header-cell>
            <mat-cell *matCellDef="let cal"> {{employees[cal.Employee_Id].Name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Дії </mat-header-cell>
            <mat-cell *matCellDef="let cal">

              <button class="padded table-actions" [matMenuTriggerFor]="actionsMenuCal" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #actionsMenuCal="matMenu">
                <button mat-menu-item (click)="editCal(cal)">
                  <mat-icon>edit</mat-icon>
                  <span>Редагувати</span>
                </button>
                <button mat-menu-item (click)="deleteCal(cal)">
                  <mat-icon>delete</mat-icon>
                  <span>Видалити</span>
                </button>
              </mat-menu>

            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="calColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: calColumns;"></mat-row>
        </mat-table>
        <mat-paginator #calPaginator [pageSize]="30" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="false">
        </mat-paginator>
      </div>
      <div *ngIf="calOpen" class="single-task padded h100">

        <div class="flex between horiz marg-top">
          <input [value]="cal.Date_Start" (dateChange)="onCalStartChanged($event)" matInput [matDatepicker]="calPickerStart" placeholder="Start date">
          <mat-datepicker-toggle matSuffix [for]="calPickerStart"></mat-datepicker-toggle>
          <mat-datepicker #calPickerStart startView="month" [startAt]="startDate"></mat-datepicker>

          <input [value]="cal.Date_End" (dateChange)="onCalEndChanged($event)" matInput [matDatepicker]="calPickerEnd" placeholder="End date">
          <mat-datepicker-toggle matSuffix [for]="calPickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #calPickerEnd startView="month" [startAt]="endDate"></mat-datepicker>
        </div>

        <mat-select class="grow marg-top" [(ngModel)]="cal.Employee_Id" placeholder="Працівник">
          <mat-option *ngFor="let t of employeesArr" [value]="t.Employee_Id">
            {{ t?.Name }}
          </mat-option>
        </mat-select>

        <mat-input-container>
          <input matInput type="number" placeholder="Коеф." [(ngModel)]="cal.Load_Rate">
        </mat-input-container>

        <div class="padded w100 flex horiz just-end">
          <button class="save-btn padded marg-right" (click)="closeCal()" mat-button color="primary">ЗАКРИТИ</button>
          <button class="save-btn padded marg-right" (click)="saveCal()" mat-raised-button color="primary">ЗБЕРЕГТИ</button>
        </div>
      </div>
    </div>

    <button mat-icon-button class="fab-add" (click)="openCal()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-tab>

</mat-tab-group>

<mat-select class="project-select" (change)="list($event)" [(ngModel)]="projectId" placeholder="Проект">
  <mat-option *ngFor="let p of projectsArr" [value]="p.Project_Id">
    {{ p.Title }}
  </mat-option>
</mat-select>

<mat-select class="empl-select" (change)="updateEmployeeTasks($event)" 
    [(ngModel)]="emplId" placeholder="Працівник">
      <mat-option *ngFor="let p of employeesArr" [value]="p.Employee_Id">
        {{ p.Name }} {{p.Employee_Id}}
      </mat-option>
    </mat-select>