<div class="flex h100 vert just-center center ">
  <div class="padded wrapper flex vert">
    <img class="padded logo" src="assets/logo.png" alt="">
    <h3 class="text-primary">Вітаємо у Donezilla!</h3>
    <mat-input-container class="flex-grow">
      <input matInput placeholder="Логін" [(ngModel)]="username">
    </mat-input-container>

    <mat-input-container class="flex-grow placeholder-white">
      <input matInput type="password" placeholder="Пароль" [(ngModel)]="password">
    </mat-input-container>
    <button (click)="submit()" mat-button color="primary">
      <b>УВІЙТИ</b>
    </button>
  </div>
</div>