:host {
    height: 100%;
    background: #1A237E;
}

.logo {
    width: 128px;
    width: 128px;
    display: block;
    margin: 0 auto;
}

.wrapper {
    background: #fff;
    width: 500px;
    margin: 0 auto;
    border-radius: 1rem;
}