<div class="container wrapper padded flex vert start">
  <mat-input-container>
    <input matInput type="text" placeholder="Ім'я" [(ngModel)]="customer.Name">
  </mat-input-container>

  <mat-input-container>
    <input matInput type="email" placeholder="Пошта" [(ngModel)]="customer.Email">
  </mat-input-container>

  <mat-input-container>
    <input matInput type="text" placeholder="Номер телефона" [(ngModel)]="customer.Phone">
  </mat-input-container>

  <div class="padded w100 flex horiz just-end">
    <button class="save-btn padded" (click)="close()" mat-raised-button color="primary">ОК</button>
  </div>
</div>