//@import 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/css/swiper.min.css';
@import "scss/theme";
@import "./iconfont/material-icons.css";
@import "~nouislider/distribute/nouislider.min.css";
@import "../node_modules/dragula/dist/dragula.min.css";
$output: prod;
:root {
  --primary: #0D47A1;
  --primary-dark: #1A237E;
  --accent: #1DE9B6;
  --white: #fff;
  --light-grey: #CFD8DC;
  --dark-grey: #263238;
  --margin: 16px;
  --margin-sm: .5em;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 20px;
}

.app-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.margin-bottom {
  margin-bottom: calc(var(--margin) * 2);
}

.margin {
  margin: calc(var(--margin) * 2);
}

.margin-sm {
  margin: var(--margin-sm)
}

hr {
  outline: none;
  border-top: 1px solid rgba(0, 0, 0, .12);
}

.center {
  align-items: center;
}

.just-center {
  justify-content: center;
}

.hidden {
  display: none;
}

/* ---------- COLORS ----------*/

::selection {
  background: transparent;
  /* WebKit/Blink Browsers */
}

input::selection,
textarea::selection {
  background: var(--accent);
  color: var(--white);
}

.text-white {
  color: var(--white);
}

.text-primary {
  color: var(--primary);
}

.text-primary-dark {
  color: var(--primary-dark)
}

.text-lightgrey {
  color: var(--light-grey)
}

.text-darkgrey {
  color: var(--dark-grey)
}

.bg-white {
  background: var(--white)
}

.bg-primary {
  background: var(--primary)
}

.bg-primary-dark {
  background: var(--primary-dark)
}

.bg-lightgrey {
  background: var(--light-grey)
}

.bg-darkgrey {
  background: var(--dark-grey)
}

.dark-text {
  color: var(--dark-grey)
}

.elevated {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12), 0 10px 30px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

/* ---------- COLORS ----------*/

/*-----------TYPOGRAPHY--------*/

.f1 {
  font-size: 1.25em;
}

.text-light {
  font-weight: 100;
}

/*-----------TYPOGRAPHY--------*/

.font-size-normal {}

.heading {
  font-weight: 400;
  font-size: 2em;
  color: var(--dark-grey);
}

.block {
  display: block;
}

.grow {
  flex-grow: 1;
}

.flex {
  display: flex;
}

.vert {
  flex-direction: column;
}

.horiz {
  flex-direction: row;
}

.just-stretch {
  justify-content: stretch;
}

.between {
  justify-content: space-between;
}

.stretch {
  align-items: stretch;
}

.start {
  align-items: flex-start;
}

.end {
  align-items: flex-end;
}

.just-end {
  justify-content: flex-end;
}

.just-center {
  justify-content: center;
}

.just-start {
  justify-content: flex-start;
}

.fixed {
  position: fixed;
}

.margin {
  padding: var(--margin);
}

.padded {
  padding: var(--margin);
}

.align-end {
  text-align: end;
}

.pointer {
  cursor: pointer;
}

.hr {
  display: block;
  height: 2px;
  background: rgba(0, 0, 0, 0.12);
}

.splash {
  opacity: 1;
  transition: opacity .1s ease-in-out;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary);
}

.splash img {
  display: block;
  margin: 10% auto;
  width: 320px;
}

.fab {
  z-index: 2;
  position: fixed;
  color: white;
}

.fab-right {
  right: 64px;
}

.fab-top {
  top: 64px;
}

mat-tab-group,
.mat-tab-body-wrapper,
.mat-tab-body,
.mat-tab-body-content {
  height: 100%;
}

.filebrowser {
  padding: 0 1em 1em;
  flex-grow: 1;
  overflow-y: auto;
}

.mat-tab-header {
  background: #fff;
}

/* --- FRONT END --- */

.button-lg {
  padding: 1em 2em !important;
}

.button-mat {
  padding: 1em !important;
}

.flex-centered {
  text-align: -webkit-center;
  justify-content: center;
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.mat-icon {
  height: 36px !important;
  width: 36px !important;
}

.material-icons {
  font-size: 36px;
}

.mat-progress-spinner path,
.mat-progress-circle path,
.mat-spinner path {
  stroke: #629893 !important;
}

.fab-nopadding .mat-button-wrapper {
  padding: 0px !important;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
  line-height: 1 !important;
}

.tab-noscroll {
  .mat-tab-body-content {
    overflow: hidden;
  }
}

.abs {
  position: absolute;
}