@import '../node_modules/@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-teal);
$accent:  mat-palette($mat-deep-orange, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);

